.dropdownBody {
  border-radius: 6px;
  border: 1px solid var(--f-gray-300);
  background: var(--f-white);
  min-width: 208px;
}

.dropdownItem {
  padding: 0.5rem 1.25rem;
  color: var(--f-black);
  transition-property: color, background-color;
  transition-duration: 150ms;
  border-radius: 6px;
  cursor: pointer;
  line-height: 22px;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: var(--f-gray-100);
    color: var(--f-primary);
    font-weight: 600;
  }
}
