.selectContainer {
  order: 2;

  &:has(input:disabled) {
    .select {
      color: var(--f-gray-400);
      border-bottom: 1px solid var(--f-gray-400);
      pointer-events: none;

      .buttons .button:first-of-type {
        display: none;
      }

      .buttons .button {
        color: var(--f-gray-400);
      }
    }
  }

  .select {
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--f-black);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 34px;

    .multiselect {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      overflow: hidden;
    }

    .placeholder {
      color: var(--f-gray-400);
      font-size: 0.8125rem;
      margin-top: 1px;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 6px;

      .button {
        outline: none;
        border: none;
        background: transparent;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--f-black);

        &:hover {
          color: var(--f-primary);
        }
      }
    }

    &.active {
      border-bottom: 1px solid var(--f-primary);

      .button:last-child {
        color: var(--f-primary);
      }
    }
  }
}

.selectDropdown {
  border-radius: 6px;
  border: 1px solid var(--f-gray-300);
  background: var(--f-white);
  min-width: 196px;
  max-height: 200px;

  .selectDropdownItem {
    padding: 0.5rem 1rem;
    color: var(--f-black);
    transition-property: color, background-color;
    transition-duration: 150ms;
    border-radius: 6px;
    cursor: pointer;
    line-height: 22px;
    display: flex;
    flex-direction: column;

    &.noOption {
      opacity: 0.5;
      cursor: default;

      &:hover {
        background-color: unset;
        color: unset;
        font-weight: unset;
      }
    }

    &.active,
    &:hover {
      background-color: var(--f-gray-100);
      color: var(--f-primary);
      font-weight: 600;
    }
  }
}

.hideSelect {
  display: none;
}
