.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  flex: 1 1 100%;

  .logo {
    flex-shrink: 0;
    margin-bottom: 1.5rem;
  }

  .container {
    padding: 1.25rem;
    background: var(--f-white);
    margin-bottom: 2.5rem;
    max-width: 32rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid var(--f-gray-300);
    background: var(--f-gray-100);
  }
}
