.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainContent {
  display: flex;
  flex: 1;
}

.mainContentInner {
  flex: 1;
  padding: 0 1rem 1rem 1rem;
  border-left: 1px solid var(--f-gray-200);
}
