@import "variables";

:root {
  --f-primary: #1e40af;
  --f-gray-100: #f8fafc;
  --f-gray-200: #f1f5f9;
  --f-gray-300: #e2e8f0;
  --f-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
}

//
//html,
//body {
//  max-width: 100vw;
//  overflow-x: hidden;
//  font-size: 0.875rem;
//}
//
ul, ol {
  list-style: none;
}
//
//button {
//  cursor: pointer;
//  border: none;
//  background: transparent;
//  display: flex;
//}