:root {
  --f-primary: #812538;
  --f-gray-100: #f8fafc;
  --f-gray-200: #f1f5f9;
  --f-gray-300: #e2e8f0;
  --f-gray-400: #9ca3af;
  --f-white: #ffffff;
  --f-black: #000000;
  --f-red: #dc2626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.5;
}

body {
  font-size: 14px;
}

strong {
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(2xl) {
    max-width: 1280px;
  }

  @include breakpoint(xl) {
    max-width: 1024px;
  }
}

.mark {
  font-weight: 600;
  color: var(--f-primary);
}
