:root {
  --f-primary: #812538;
  --f-gray-100: #f8fafc;
  --f-gray-200: #f1f5f9;
  --f-gray-300: #e2e8f0;
  --f-white: #ffffff;
  --f-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
}

strong {
  font-weight: 500;
}

ul, ol {
  list-style: none;
}