.permissions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.75rem;

  .permission {
    display: flex;
    gap: 1.25rem;
    align-items: center;

    .permissionHeader {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 600;
      }

      .key {
        font-size: 0.75rem;
        color: var(--f-gray-400);
      }
    }

    .permissionButtons {
      display: flex;
      gap: 0.25rem;
    }
  }
}
