:root {
    --f-white: #FFFFFF;
    --f-gray-100: #F8FAFC;
    --f-gray-200: #F5F5F7;
    --f-gray-400: #494B5D;
    --f-gray-900: #181C30;
    --f-primary: #FFD6AD;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

ul, ol {
    list-style: none;
}

body {
    display: flex;
    min-height: 100dvh;

    & > nav {
        background: var(--f-white);
        width: 340px;
        border-right: 2px solid var(--f-gray-200);
        display: flex;
        flex-direction: column;

        .logo {
            height: 80px;
            border-bottom: 2px solid var(--f-gray-200);
        }

        .menu {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 20px;

            a {
                background: var(--f-gray-200);
                border-radius: 10px;
                height: 60px;
                padding: 10px 20px;
                font-weight: 500;
                color: var(--f-gray-900);
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }

    & > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        & > header {
            background: var(--f-white);
            padding: 1rem;
            height: 80px;
            border-bottom: 2px solid var(--f-gray-200);
        }

        & > main {
            flex-grow: 1;
            padding: 1rem;
            background: var(--f-gray-100);
        }
    }
}




