.containerButton {
  background: var(--f-black);
  border-radius: 0.25rem;
  display: flex;
  justify-self: self-start;

  &:hover {
    .button {
      background: var(--f-primary);
      transform: translate(3px, -3px);
    }
  }

  .button {
    background: var(--f-black);
    color: var(--f-white);
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    gap: 0.5rem;

    &:focus {
      background: var(--f-primary);
    }
  }
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &.black {
    background-color: var(--f-black);
    color: var(--f-white);

    &:hover {
      background-color: var(--f-primary);
    }
  }

  &.gray {
    background-color: var(--f-gray-200);
    color: var(--f-black);

    &:hover {
      color: var(--f-primary);
    }
  }
}

.toggleButton {
  border-radius: 9999px;
  padding: 0.375rem;
  transition:
    color 0.3s,
    background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  color: var(--f-black);
  outline: none;
  background: none;
  border: none;
  margin: -0.375rem;
  cursor: pointer;

  &:hover {
    background-color: var(--f-gray-300);
  }
}
