.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  //container flex flex-col flex-1 mx-auto
  .container {
    background: blue;
    width: 1536px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin: 0 auto;
  }
}

