.badge {
  padding: 0.1875rem 0.625rem;
  text-align: center;
  line-height: 1rem;
  font-size: 0.75rem;
  border-radius: 9999px;
  font-weight: 600;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;
  gap: 4px;
  cursor: default;

  &.primary {
    border: 1px solid var(--f-primary-light);
    background: var(--f-primary-light);
    color: var(--f-primary);
  }

  &.secondary {
    border: 1px solid var(--f-gray-300);
    background: var(--f-gray-200);
    color: var(--f-black);
  }

  &.success {
    border: 1px solid var(--f-green-light);
    background: var(--f-green-light);
    color: var(--f-green);
  }

  .clear {
    display: flex;
    margin-right: -4px;
    cursor: pointer;
  }
}
