.badge {
  padding: 0.25rem 0.625rem;
  text-align: center;
  line-height: 1rem;
  font-size: 0.75rem;
  border-radius: 9999px;
  font-weight: 600;
  display: inline-block;
  background: var(--f-primary);
  color: var(--f-white);
}
