.badge {
  padding: 0.25rem 0.625rem;
  text-align: center;
  line-height: 1rem;
  font-size: 0.75rem;
  border-radius: 9999px;
  font-weight: 600;
  display: inline-block;

  &.primary {
    border: 1px solid var(--f-primary);
    background: var(--f-primary);
    color: var(--f-white);
  }

  &.secondary {
    border: 1px solid var(--f-gray-300);
    background: var(--f-gray-200);
    color: var(--f-black);
  }

  &.success {
    border: 1px solid var(--f-green);
    background: var(--f-green);
    color: var(--f-white);
  }
}
