.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 100%;

  .cardBody {
    border-radius: 0.375rem;
    flex: 1 1 100%;

    &.background {
      padding: 16px;
      border: 1px solid var(--f-gray-300);
      background: var(--f-gray-100);
    }
  }
}
