.nav {
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  background-color: var(--f-gray-200);
  margin-bottom: 1rem;
  display: flex;

  ol {
    display: flex;
    align-items: center;
    line-height: 1.25rem;
  }

  li {
    display: flex;
    align-items: center;
    height: 1.25rem;
    margin-right: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;

      &::after {
        content: '/';
        margin-left: 0.5rem;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.25rem;
      color: unset;
    }
  }
}
